@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS for Carousel Indicators */
.indicator-button {
    border: none; /* Remove default button styles */
    background: transparent; /* Make the button background transparent */
    cursor: pointer; /* Change cursor to pointer */
    padding: 0; /* Remove default padding */
}

.indicator-dot {
    width: 10px; /* Width of the indicator dot */
    height: 5px; /* Height of the indicator dot */
    border-radius: 50%; /* Make the dots circular */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.carousel-container {
    position: relative;
}

.carousel-card {
    flex: 0 0 auto; /* Ensure cards do not shrink */
}

.left-arrow, .right-arrow {
    z-index: 10; /* Bring arrows above other content */
    transition: background-color 0.3s; /* Optional: Add hover effect */
}

.left-arrow:hover, .right-arrow:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Darker background on hover */
}

